.card-image-top{
    border-radius: 8px;
    width: 100%;
}
svg{
    width: 100%;
}
.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.c1, .c2{
  width: 100%;
}

@media (min-width: 600px) {
  .c2 {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .c1 {
    width: 40%;
  }
  .c2 {
    width: 60%;
  }
}

@media (min-width: 800px) {
  .container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
